@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
html {

    padding-bottom: 10000px;
}
.container{
    // width: 1350px;
    // background: red;
    margin: 0 auto;
    width: 100% ;
    @media (min-width: 576px) {
        max-width: 540px;
    }
    @media (min-width: 768px) {
        max-width: 720px;
    }
    @media (min-width: 992px) {
        max-width: 960px;
    }
    @media (min-width: 1200px) {
        max-width: 1140px;
    }
    @media (min-width: 1400px) {
        max-width: 1320px;
    }
    
}
    

.header{
    position: fixed;
    width: 100%;
    height: 50px;
    background: rgba(0,0,0,0.5);
    z-index: 999999;
}
.promo {
    position: relative;
    background: url("../img/bg1.jpg");
    background-size: cover;
    height: 100vh;
    box-shadow: 0px 6px 8px 2px rgb(34 60 80 / 22%);
    @media (max-width: 700px) {
        height: 400px;

    }
    &__bg{
        background: rgba(0,0,0,0.5);
        height: inherit;
    }
    &__title {
        // transform: translateY(-150px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    &__container {
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;        
        h1{
            margin: 0px;
            font-family: 'Russo One', sans-serif;
            letter-spacing: 1.42px;
            font-size: 74px;
            color: #FED83E;
            text-align: center;
            padding-bottom: 5px;
            border-bottom: 4px solid #FED83E;
            @media (max-width: 1400px) {
                font-size: 54px;
            }
            @media (max-width: 1000px) {
                font-size: 44px;
            }
            @media (max-width: 700px) {
                border: none;
                font-size: 38px;
        
            }
        }
        h2{
            margin-top: 8px;
            font-family: 'Roboto', sans-serif;
            letter-spacing: 0.00px;
            font-size: 34px;
            color: #FFF0F0;
            text-align: center;
            font-weight: 600;
            @media (max-width: 1400px) {
                font-size: 24px;
            }
            @media (max-width: 700px) {
                font-size: 15px;
            }
        }
        button{
            font-size: 18px;
            margin-top: 50px;
            border: none;
            padding: 15px 30px;
            border-radius: 20px;
            font-family: 'Roboto', sans-serif;
            background: #E83B2C;
            color: white ;
            font-weight: 500;
            cursor: pointer !important;
            transition: 0.2s;
            &:hover {
                // cursor: pointer !important;
                background: #FF6347
            }
            @media (max-width: 700px) {
                margin-top: 20px;
                font-size: 12px;
            }
        }
    }
}

///////////////////////////////////////////////////

.section-title{
    font-size: 42px;
    text-align: center;
    font-family: 'Russo One', sans-serif;
    color: #335B78
    //  #FF6347
     ;
    @media (max-width: 700px) {
        font-size: 36px;
    }
    @media (max-width: 500px) {
        font-size: 28px;
    }
}
.about {
    padding: 50px 5px;
    box-shadow: 0px -4px 6px 0px rgba(34, 60, 80, 0.2) inset;
    @media (max-width: 1000px) {
        padding: 10px;
    }
    &__wrapper {
        display: flex;
        @media (max-width: 1000px) {
            flex-direction: column;
            padding: 10px;
        }
    }
    &__img {
        padding: 30px;
        flex: 2;
        text-align: center;
        padding-bottom: 0px;
        @media (max-width: 1000px) {
            padding: 10px;
        }
        img{
            box-shadow: 0px 5px 12px -10px rgba(34, 60, 80, 0.2);
            width: 80%;
            @media (max-width: 1200px) {
                width: 100%;
            }
        }
        
    }
    &__text {
        padding: 30px;
        padding-bottom: 0px;
        flex: 2.5;
    }
    
}
.info-text {
    font-size: 20px;
    font-weight: 300;
    @media (max-width: 1000px) {
        padding: 10px;
    }
    @media (max-width: 732px) {
        font-size: 16px;
    }
}
.visit {
    box-shadow: 0px -4px 6px 0px rgb(34 60 80 / 20%) inset;
    padding: 50px 0px;
    @media (max-width: 1000px) {
        padding: 20px;
        padding-top: 20px;
    }
    &__subtitle {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 30px;
        flex: 2;
        @media (max-width: 780px) {
            padding: 10px;
        }
    }
    &__slider {
        flex: 1;
    }
    &__best {
        text-align: center;
        font-size: 25px
    }
    &__wrapper {
        display: flex;
        padding: 30px 0px;
        @media (max-width: 1000px) {
            flex-direction: column;
            padding: 0px;
        }
    }
    
}

.advantage{
    background: url(../img/6.jpg);
    background-size: cover;
    background-attachment: fixed;
    &__bg {
        background: rgba(0,0,0,0.65);
    }
    &__wrapper {
        display: flex;
        @media (max-width: 1000px) {
            flex-direction: column;
        }
    }
    &__item {
        box-shadow: 0px 6px 8px 2px rgba(255, 255, 255, 0.16);
        border-radius: 5px;
        border-bottom: 2px solid #335B78;
        text-align: center;
        width: 100%;
        margin: 15px;
        padding: 20px;
        background: white;
        @media (max-width: 1000px) {
            font-size: 12px;
            width: auto;
            margin: 5px;
            padding: 15px;
        }
    }
}

